## Importing all needed packages

#### Command to install **spaCy** package: ***pip install spacy***

In [1]:
import pandas as pd
from wordcloud import WordCloud
import matplotlib.pyplot as plt
import time
import spacy
from tqdm import tqdm

## First Analysis

### Mechanism to hidden some words from analysis.

In [ ]:
# SHOW_USELESS_WORDS = True
SHOW_USELESS_WORDS = False

In [ ]:
uselessWords = {
    'o', 'a', 'os', 'as', 
    'um', 'uma', 'uns', 'umas', 
    'e',
    'de', 'do', 'da',
    'sobre',
    'ma',
    'lo', 'la'
    'que',
    'se',
    'em',
    'com',
    '√©',
    'que'
}
# uselessWords

### Loading into a dataframe the content of the dataset (CSV file)

In [ ]:
rawDf = pd.read_csv( 
    './datasets/treated_csv_file.csv',
    encoding = 'UTF8',
    sep = ';');
rawDf.head()

In [ ]:
len(rawDf)

### Some manipulation to the strings.

- lower case
- replace some symbols

In [ ]:
df = rawDf['review_text'].str.lower()
df.head()

In [ ]:
df[1]

In [ ]:
def cleanWord( word ):
    
    word = word.replace(',', '')
    word = word.replace('.', '')
    word = word.replace('‚ù§', '')
    word = word.replace('üíú', '')

    return word

### Creating a list with all unique words to use further.

In [ ]:
# For time counting
startTime = time.time()

allWords = list()
words = list()

for review in df:
    
#     print(review)
    rawWords = str(review).split()
    
    for word in rawWords:
        word = cleanWord( word )
        
        if word not in words:
            words.append( word )

if not SHOW_USELESS_WORDS:
    
    for word in words:
        if word in uselessWords:
            continue
        else:
            allWords.append( word )
        
else: 
    allWords = words
    
# allWords

# For time counting
endTime = time.time()
elapsedTime = endTime - startTime
print( f'Running Time: {elapsedTime / 60} minutes' )

### Total of unique words.

In [ ]:
print( 'List size: {}'.format( len(allWords) ) )

### Build a word cloud with all unique words.

In [ ]:
allJoinedWords = " ".join( allWords ) + " "

if SHOW_USELESS_WORDS:

    wordcloud = WordCloud(
        width = 800, 
        height = 800,
        background_color ='white',
        min_font_size = 10
    ).generate( allJoinedWords )
    
else:
    
    wordcloud = WordCloud(
        width = 800, 
        height = 800,
        background_color ='white',
        stopwords = uselessWords,
        min_font_size = 12
    ).generate( allJoinedWords )

# plot the WordCloud image                      
plt.figure(figsize = (8, 8), facecolor = None)
plt.imshow(wordcloud)
plt.axis("off")
plt.tight_layout(pad = 0)
 
plt.show()

### Seeing the words and each total in a table way.

In [ ]:
allWordsDict = {}
for review in df:
    
    # print(review)
    
    words = str(review).split()
    # print(words)
    
    for word in words:
        
        if (not SHOW_USELESS_WORDS) and (word in uselessWords):
            continue
        
        word = cleanWord( word )
        
        if word not in allWordsDict.keys():
            
            allWordsDict[word] = 1
            
        else:
            
            allWordsDict[word] += 1

# print( allWordsDict )

In [ ]:
allWordsDF = pd.DataFrame()

allWordsDF[ 'word' ] = allWordsDict.keys()
allWordsDF[ 'count' ] = allWordsDict.values()

allWordsDF.head(10)

In [ ]:
allWordsDF.sort_values(
    by = 'count',
    ascending = 0)

## Second Analysis

#### Using Spacy and K-Means to analyze the tokens and try to group the contained sentences in each review.

### Installing and loading the Portuguese pipeline.
#### To install Portuguese pipeline by command line, type: *python -m spacy download pt_core_news_lg*
#### See more on: https://spacy.io/models/pt#pt_core_news_lg

In [ ]:
nlp = spacy.load('pt_core_news_lg') # https://spacy.io/models/pt#pt_core_news_lg

In [ ]:
df = rawDf
df.head()

### Some values in the *review_text* column are *nan* so I changed the values to an empty string to avoid breaking the program when reading each item to extract the sentences.

One example:

|book_id|review_id|review_rating|review_title|review_text|
|:------|:------:|:------:|:------|:------:|
|8547000240|R1QX38W7D6QOQ4|5<!-- .element: style="text-align:center;" -->|livro maravilhoso, ainda estou acabando de ler mais posso afirma que e espetacular.|nan|

In [ ]:
df['review_text'] = df['review_text'].fillna('')

In [ ]:
df['review_text'].isnull().values.any()

In [ ]:
reviewPosition = 1

In [ ]:
df.iloc[reviewPosition]

In [ ]:
doc = nlp( u''.join(df.iloc[reviewPosition]['review_text']) )
doc

In [ ]:
totalTokensToPrint = 30

print( f'Printing the first {totalTokensToPrint}th tokens:\n' )

for token in doc[0:totalTokensToPrint]:
    print( f'{token.text:{15}} {spacy.explain(token.pos_):{30}} {token.lemma_:{15}}' )

In [ ]:
for sentence in doc.sents:
    
    print( f'{sentence}' )
    print( f'--- Sentence size: {len(sentence)}' )
    print()

### Building a dataframe of sentences and building a new dataset of sentences.

In [ ]:
# # totalReviews = 10
# # totalReviews = 10000
# # i = 0

# # For time counting
# startTime = time.time()

# csvFile = './datasets/sentences.csv'
# csvDF = pd.DataFrame(columns = [
#     'book_id', 
#     'review_id', 
#     'review_rating', 
#     # 'review_title', 
#     'sentence'
# ]) 

# # for index in tqdm( range(0, totalReviews), desc="Progress", ncols=100 ):
# for index in tqdm( range(0, len(df)), desc="Progress", ncols=100 ):
    
#     review = df.iloc[index]
        
#     # print( f"- Book ID: {review['book_id']}" )
#     # print( f"- Review ID: {review['review_id']}" )
#     # print( f"- Review Rating: {review['review_rating']}" )
#     # print( f"- Review Title: {review['review_title']}" )
#     # print( f"- Review Text: {review['review_text']}" )
#     # print()
    
#     doc = nlp( u''.join( review['review_text'] ) )
#     # print(doc[0])
#     # print()
    
#     # print( '- Sentences' )
#     # print()
    
#     for sentence in doc.sents:
    
#         # print( f'{sentence}' )
#         # print( f'--- Sentence size: {len(sentence)}' )
#         # print()
        
#         row = {
#             'book_id': review['book_id'],
#             'review_id': review['review_id'],
#             'review_rating': review['review_rating'],
#             # 'review_title': review['review_title'],
#             'sentence': sentence
#         }
#         csvDF.loc[ len(csvDF), csvDF.columns ] = row
        
#         # print(i)
#         # print( f"review_id: {review['review_id']}" )
#         # print(sentence)
#         # print()
        
#         # i = i + 1
    
#     # print('\n======================================= Another Review =======================================\n\n')
    
# csvDF.to_csv(
#     csvFile, 
#     encoding = 'utf-8', 
#     index = False,
#     sep=';'
# )
# # print( csvDF )

# print('======================================================================')
# print('Finished')

# # For time counting
# endTime = time.time()
# elapsedTime = endTime - startTime
# print( f'Running Time: {elapsedTime / 60} minutes' )

### Building a Bag of Words (BoW) with the words of the sentences.

In [2]:
nlp = spacy.load('pt_core_news_lg') # https://spacy.io/models/pt#pt_core_news_lg

In [3]:
df = pd.read_csv( 
    './datasets/sentences.csv',
    encoding = 'UTF8',
    sep = ';');
df.head()

,book_id,review_id,review_rating,sentence
0,8595081530,RM0NBXMBSU4M3,4,Sabe todos aqueles livros que ensinam voc√™ a c...
1,8595081530,RM0NBXMBSU4M3,4,Ou daqueles que voc√™ termina a leitura sentind...
2,8595081530,RM0NBXMBSU4M3,4,"Voc√™ N√ÉO vai encontrar um setup milagroso, ou ..."
3,8595081530,RM0NBXMBSU4M3,4,Basicamente este livro conta verdades sobre o ...
4,8595081530,RM0NBXMBSU4M3,4,Mostra os detalhes de uma forma t√£o direta e b...

In [4]:
df.iloc[0]['sentence']

'Sabe todos aqueles livros que ensinam voc√™ a criar uma agenda para controle de gastos contendo tudo que voc√™ gasta durante determinado per√≠odo de tempo e que voc√™ nunca consegue terminar o tal m√©todo?'

In [5]:
doc = nlp( df.iloc[0]['sentence'] )
tokens = [token.text for token in doc]
print(tokens)

['Sabe', 'todos', 'aqueles', 'livros', 'que', 'ensinam', 'voc√™', 'a', 'criar', 'uma', 'agenda', 'para', 'controle', 'de', 'gastos', 'contendo', 'tudo', 'que', 'voc√™', 'gasta', 'durante', 'determinado', 'per√≠odo', 'de', 'tempo', 'e', 'que', 'voc√™', 'nunca', 'consegue', 'terminar', 'o', 'tal', 'm√©todo', '?']

In [6]:
tokens = [token.lemma_ for token in doc]
print(tokens)

['Sabe', 'todo', 'aquele', 'livro', 'que', 'ensinar', 'voc√™', 'o', 'criar', 'umar', 'agendar', 'parir', 'controlo', 'de', 'gasto', 'conter', 'tudo', 'que', 'voc√™', 'gasto', 'durante', 'determinar', 'per√≠odo', 'de', 'tempo', 'e', 'que', 'voc√™', 'nunca', 'conseguir', 'terminar', 'o', 'tal', 'm√©todo', '?']

In [7]:
lineTotal = 10

partialDf = df.iloc[ :lineTotal ]
partialDf.head()

,book_id,review_id,review_rating,sentence
0,8595081530,RM0NBXMBSU4M3,4,Sabe todos aqueles livros que ensinam voc√™ a c...
1,8595081530,RM0NBXMBSU4M3,4,Ou daqueles que voc√™ termina a leitura sentind...
2,8595081530,RM0NBXMBSU4M3,4,"Voc√™ N√ÉO vai encontrar um setup milagroso, ou ..."
3,8595081530,RM0NBXMBSU4M3,4,Basicamente este livro conta verdades sobre o ...
4,8595081530,RM0NBXMBSU4M3,4,Mostra os detalhes de uma forma t√£o direta e b...

In [8]:
partialDf.tail()

,book_id,review_id,review_rating,sentence
5,8595081530,RM0NBXMBSU4M3,4,S√≥ n√£o ganha 5 estrelas pois acredito que a ar...
6,8595081530,RM0NBXMBSU4M3,4,Ps.:
7,8595081530,RM0NBXMBSU4M3,4,Gostei da textura do papel e da boa qualidade ...
8,8595081530,RM0NBXMBSU4M3,4,Recomendo muito!
9,8595081530,R3KC0ZLPQX85LT,5,Ensinamentos que eu tive quando li o livro:1.

#### Disable warnings

In [9]:
import warnings
warnings.filterwarnings("ignore")

In [24]:
for i in range(0, len(partialDf)):
    
    item = partialDf.iloc[i]
    
    # print(item)
    
    doc = nlp( item['sentence'] )
    tokens = [ token.lemma_ for token in doc ]
    
    for token in tokens:
        
        if token not in partialDf.columns:
            partialDf[ token ] = 0

        partialDf.iloc[ i ][ token ] = 1
        # print(partialDf.iloc[ i ][ token ])

partialDf.head()

,book_id,review_id,review_rating,sentence,Sabe,todo,aquele,livro,que,ensinar,...,texturar,papel,qualidade,gr√°fico,Recomendo,muito,Ensinamentos,ter,ler,livro:1
0,8595081530,RM0NBXMBSU4M3,4,Sabe todos aqueles livros que ensinam voc√™ a c...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8595081530,RM0NBXMBSU4M3,4,Ou daqueles que voc√™ termina a leitura sentind...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,8595081530,RM0NBXMBSU4M3,4,"Voc√™ N√ÉO vai encontrar um setup milagroso, ou ...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,8595081530,RM0NBXMBSU4M3,4,Basicamente este livro conta verdades sobre o ...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,8595081530,RM0NBXMBSU4M3,4,Mostra os detalhes de uma forma t√£o direta e b...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0